@page "/Login"
@inject HttpClient Http


<h1>Login</h1>
<form class="pure-form pure-form-stacked">
    <fieldset>

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email" bind="@Email" />
        <span class="pure-form-message">This is a required field.</span>

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password" bind="@Password" />

        <label for="remember" class="pure-checkbox">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" onclick="@SubmitForm" class="pure-button pure-button-primary">Register</button>
    </fieldset>
</form>


@functions{
    public string Email { get; set; } = "";
    public string Password { get; set; } = "";
    public string Token { get; set; } = "";

    private async Task SubmitForm()
    {
        WebBlazor.Models.ViewModels.TokenViewModel tokenViewModel = new Models.ViewModels.TokenViewModel
        {
            Email = Email,
            Password = Password
        };
        var response = await Http.PostJsonAsync<object>("https://localhost:44328/api/Token/Login", tokenViewModel);
        Console.WriteLine(response);
    }
}