@page "/Registration"
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject HttpClient Http


<h1>Registration</h1>
<div class="pure-form pure-form-stacked">
    <fieldset>

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email" bind="@Email"/>
        <span class="pure-form-message">This is a required field.</span>

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password" bind="@Password"/>
        
        <label for="remember" class="pure-checkbox">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button onclick="@SubmitForm" class="pure-button pure-button-primary">Registration</button>
    </fieldset>
</div>

@functions{
    public string Email { get; set; } = "";
    public string Password { get; set; } = "";

    private async Task SubmitForm()
    {
        WebBlazor.Models.ViewModels.TokenViewModel tokenViewModel = new Models.ViewModels.TokenViewModel
        {
            Email = Email,
            Password = Password
        };
        await Http.PostJsonAsync("/api/Token/Registration", tokenViewModel);
        UriHelper.NavigateTo("/Login");
    }
}