@model Domain.Contracts.Models.ViewModels.User.UserEditViewModel

@{
    ViewData["Title"] = "EditUser";
}

<h2>EditUser</h2>

<h4>UserEditViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="ApplicationUserId" type="hidden" class="form-control" />
            <input asp-for="UserProfileId" type="hidden" class="form-control" />
            <input asp-for="RoleId" type="hidden" class="form-control" />


            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="Avatar"/>
                </div>
            </div>


            <select asp-for="Role"
                    asp-items="@(ViewData["Roles"] as IEnumerable<SelectListItem>)">
                <option>Please select one</option>
            </select>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

