@*@model IEnumerable<Domain.Contracts.Models.ViewModels.Post.PostMiniViewModel>

@{
    ViewData["Title"] = "ListPostsMiniViewModel";
}

<h2>ListPostsMiniViewModel</h2>


@foreach (var item in Model)
{
    @await Html.PartialAsync("UserMini_PartialView", item.AuthorUserMiniViewModel)
    <div class="container">
        <div class="row">
            <a asp-action="PostViewModel" asp-all-route-data='new Dictionary<string,string>{ { "postId", item.PostId.ToString() } }'><h2>@Html.DisplayFor(modelItem => item.Header) - @Html.DisplayFor(modelItem => item.Score)</h2></a>
        </div>
        <div class="row">
            @Html.DisplayFor(modelItem => item.BriefDesctiption)
        </div>
    </div>
    <hr/>
}*@
