@model Domain.Contracts.Models.ViewModels.User.UserMiniViewModel

<div class="container">
    <div class="col-md-1">
        <img src="~@Model.Avatar" asp-append-version="true" height="50" width="50"/>
    </div>
    <div class="col-md-11">
        <div class="row">
            <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) (@Html.DisplayFor(model => model.Role)) - @Html.DisplayFor(model => model.CountOfLikes)</h4>
        </div>
    </div>
</div>
