@inherits BlazorLayoutComponent
@layout MainLayout

<div class="container d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-6 mx-auto">
            <div class="bg-white rounded" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); padding-bottom:20px;">
                @Body
            </div>
        </div>
    </div>
</div>
