@inherits BlazorLayoutComponent
@layout MainLayout

<div class="grid-content">
    <div>
        <div class="side-bar">
            <UserPanel />
            <TagCloud />
            <ListPostForSidePanel Name="@("Hot")" />
            <ListPostForSidePanel Name="@("Best")" />
            <ListPostForSidePanel Name="@("Fresh")" />
        </div>
    </div>
    <div>
        @Body
    </div>
</div>

@functions{      
    protected async override Task OnInitAsync()
    {
        await serviceOfAuthorize.CreateHeader;
        this.StateHasChanged();
    }
}