@inherits BlazorLayoutComponent
@layout MainLayout

<div class="grid-content">
    <div>
        <div class="side-bar">
            @if (serviceOfAuthorize.DataAboutUser != null && serviceOfAuthorize.DataAboutUser.Priority > 1)
            {
                <div class="content-body">
                    <a href="/CreatePost" class="pure-button create-post-link"><font size="4"><LocalizationSentence Sentence="@("Create new post")" /></font></a>
                </div>
            }
            <TagCloud />
            <ListPostForSidePanel Name="@("Hot")" />
            <ListPostForSidePanel Name="@("Best")" />
            <ListPostForSidePanel Name="@("Fresh")" />
        </div>
    </div>
    <div>
        @Body
    </div>
</div>

@functions{      
    protected async override Task OnInitAsync()
    {
        await serviceOfAuthorize.CreateHeader;
        this.StateHasChanged();
    }
}