@inherits BlazorLayoutComponent
@layout MainLayout


<div class="grid-content">
    <div class="contentDivs">

    </div>
    <div class="contentDivs" id="posts">
        @Body
    </div>
    <div class="contentDivs">

    </div>
</div>

@functions{

}