@inherits BlazorLayoutComponent
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div class="grid-main">
    <div class="pure-menu pure-menu-horizontal" id="navbar">
        <a href="/" class="pure-menu-heading pure-menu-link">ItNews</a>
        <div></div>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/Login" class="pure-menu-link">Login</a></li>
            <li class="pure-menu-item"><a href="/Registration" class="pure-menu-link">Registration</a></li>
        </ul>
        <div class="pure-form" id="search">
            <input type="text" class="pure-input-rounded" bind="@SearchWords"/>
            <a class="pure-button" href="/SearchUsers/@SearchWords">Search</a>
        </div>
    </div>
    <div id="mainBody">
        @Body
    </div>
</div>

@functions{
    private string SearchWords { get; set; }
}