@inherits BlazorLayoutComponent

<div class="grid-main">
    <div class="pure-menu pure-menu-horizontal">
        <a href="#" class="pure-menu-heading pure-menu-link">BRAND</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/Login" class="pure-menu-link">Login</a></li>
            <li class="pure-menu-item"><a href="/Registration" class="pure-menu-link">Registration</a></li>
        </ul>
    </div>
    <div>@Body</div>
</div>