@inherits BlazorLayoutComponent

<div class="grid-main">
    <div class="pure-menu pure-menu-horizontal" id="navbar">
        <a href="/Posts" class="pure-menu-heading pure-menu-link">ItNews</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/Login" class="pure-menu-link">Login</a></li>
            <li class="pure-menu-item"><a href="/Registration" class="pure-menu-link">Registration</a></li>
            <li class="pure-menu-item"><a href="/CreatePost" class="pure-menu-link">Create new post</a></li>
        </ul>
    </div>
    <div id="mainBody">
        @Body
    </div>
</div>