@page "/CreatePost"
@inject HttpClient Http

@if (ListOfSelections == null && PostId == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h4>PostCreateEditViewModel</h4>
    </div>
    <hr/>
    <div class="row">
        <form method="post" enctype="multipart/form-data" action="https://localhost:44328/Post/CreatePost">

            <input name="PostId" bind="@PostId" type="hidden"/>
            <input name="UserProfileId" type="hidden"/>
            <input name="SectionId" type="hidden"/>

            <div class="form-group">
                <label for="Header" class="control-label">Header</label>
                <input class="form-control" name="Header" />
            </div>

            <label for="Header" class="control-label">Section</label>
            <select name="Section">
                @foreach (var item in ListOfSelections)
                {
                    <option>@item</option>
                }
            </select>

            <div class="form-group">
                <label for="BriefDesctiption" class="control-label">BriefDesctiption</label>
                <textarea name="BriefDesctiption" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Content" class="control-label">Content</label>
                <input name="Content" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Tags" class="control-label">Tags</label>
                <input name="Tags" class="form-control" />
            </div>

            <div class="form-group">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="images" multiple />
                <input type="file" name="images" multiple />
                <input type="file" name="images" multiple />
                <input type="file" name="images" multiple />
                <input type="file" name="images" multiple />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
}

@functions{
    public string PathCreatePost { get; set; } = "https://localhost:44328/Post/CreatePost";
    public string PathGetSelections { get; set; } = "https://localhost:44328/Post/GetListOfSelections";
    private List<string> ListOfSelections { get; set; }
    private int? PostId { get; set; }

    protected override async Task OnInitAsync()
    {
        ListOfSelections = await Http.GetJsonAsync<List<string>>(PathGetSelections);
        PostId = await Http.GetJsonAsync<int>(PathCreatePost);
    }
}