@page "/Test"
@inject HttpClient Http
@inject LocalStorage localStorage
@inject Components.ServiceOfAuthorize serviceOfAuthorize
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using Blazor.Extensions.Storage;
@using WebBlazor.Models.ViewModels.Post

@if(ListOfPosts != null)
{
    <div>@ListOfPosts.Count()</div>
}

@functions
{
    private List<PostCompactViewModel> ListOfPosts;

    protected override async Task OnInitAsync()
    {
        Console.WriteLine("test start");
        await serviceOfAuthorize.Authorize;
        Console.WriteLine("finished waiting");
        ListOfPosts = await Http.GetJsonAsync<List<PostCompactViewModel>>("/api/Post/ListPostsCompactViewModel");
        Console.WriteLine("test complete");
    }
}