@page "/PostsByTag/{Id:int}"
@inject HttpClient Http
@inject Components.ServiceOfAuthorize serviceOfAuthorize
@using WebBlazor.Models.ViewModels.Post


@if (ListOfPosts == null)
{
    <p><em>Loading...</em></p>
}
else if (ListOfPosts.Count() == 0)
{
    <p><em>Posts with such parameters no :(</em></p>
}
else
{
    <div id="container-posts">
        <ListViewTemplate Items="@ListOfPosts">
            <ItemTemplate>
                <PostCompact post="@context" />
            </ItemTemplate>
        </ListViewTemplate>
    </div>
}

@functions {
    [Parameter] private int Id { get; set; }
    private List<PostCompactViewModel> ListOfPosts;

    protected async override Task OnParametersSetAsync()
    {
        if (await serviceOfAuthorize.TryToAuthorize())
        {
            ListOfPosts = await Http.GetJsonAsync<List<PostCompactViewModel>>($"/api/Post/ListPostsCompactViewModelByTag?tagId={Id}");
            this.ShouldRender();
        }
    }
}