@page "/"
@inject Components.ServiceOfAuthorize serviceOfAuthorize
@using WebBlazor.Models.ViewModels.Post

@if (ListOfPosts == null)
{
    <p><em>Loading...</em></p>
}
else if (ListOfPosts.Count() == 0)
{
    <p><em>Posts yet :(</em></p>
}
else
{
    <div id="container-posts">
        <ListViewTemplate Items="@ListOfPosts">
            <ItemTemplate>
                <PostCompact deletePost="@((post) => DeletePost(post))" post="@context" />
            </ItemTemplate>
        </ListViewTemplate>
    </div>
}

@functions {
    public  List<PostCompactViewModel> ListOfPosts { get; set; }

    protected override async Task OnInitAsync()
    {
        ListOfPosts = await serviceOfAuthorize.GetJsonAsync<List<PostCompactViewModel>>("/api/Post/ListPostsCompactViewModel");
    }
    private void DeletePost(PostCompactViewModel post)
    {
        ListOfPosts = ListOfPosts.Except(new[] { post }).ToList();
        StateHasChanged();
    }
}