@page "/PostsByTag/{Id:int}"
@inject HttpClient Http
@using WebBlazor.Models.ViewModels.Post


@if (ListOfPosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="container-posts">
        <ListViewTemplate Items="ListOfPosts">
            <ItemTemplate>
                <div>
                    <a href="/Post/@context.PostId"><h2>@context.Header</h2></a>
                    <p>Score: @context.Score</p>
                    <span>@context.BriefDesctiption</span>
                </div>
                <br />
                <UserMini User="@context.AuthorUserMiniViewModel" />
                <br />
                <hr />
                <br />
                <br />
            </ItemTemplate>
        </ListViewTemplate>
    </div>
}


@functions{
    [Parameter] private int Id { get; set; }
    private List<PostViewModel> ListOfPosts;

    protected async override Task OnParametersSetAsync()
    {
        ListOfPosts = await Http.GetJsonAsync<List<PostViewModel>>($"/api/Post/ListPostsViewModelByTag?tagId={Id}");
        this.ShouldRender();
    }
}