@page "/Posts"
@inject HttpClient Http
@using WebBlazor.Models.ViewModels.Post

@if (ListOfPosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="container-posts">
        <ListViewTemplate Items="ListOfPosts">
            <ItemTemplate>
                <div>
                    <a href="/Post/@context.PostId"><h2>@context.Header</h2></a>
                    <p>Score: @context.Score</p>
                    <span>@context.BriefDesctiption</span>
                </div>
                <br />
                <UserMini User="@context.AuthorUserMiniViewModel" />
                <hr />
                <br />
            </ItemTemplate>
        </ListViewTemplate> 
    </div>
}


@functions {
    public string Path { get; set; } = $"https://localhost:44328/api/Post/ListPostsViewModel";
    private List<PostViewModel> ListOfPosts;

    protected override async Task OnInitAsync()
    {
        ListOfPosts = await Http.GetJsonAsync<List<PostViewModel>>(Path);
    }
}