@page "/"
@page "/{Param}"

<div id="container-posts">
    <ListOfPosts PostType="@(typeof(Domain.Contracts.Models.ViewModels.Post.PostCompactViewModel))" param="@Param" />
</div>

@functions {
    [Parameter] private string Param { get; set; } = "Time";

    protected override void OnAfterRender()
    {
        Param = null;
    }
}