* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
}

p {
    margin: 0px;
    padding: 2px;
}

table {
    border-collapse: separate;
    border-spacing: 16px 0;
}

td {
    padding: 2px 0;
}

label, input, select, textarea {
    width: 100%;
}
textarea {
    resize: none;
}

ol, ul {
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #9D6264;
}