/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/

#navbar {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    position: fixed;
    top: 0; 
    background-color: #EFE7CC;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px black;
    padding: 12px 8px;
    z-index: 3;
}

.content {
    opacity: 0.78;
}

.content-head {
    background-color: #F0F4F3;
    box-shadow: 0 0 5px white;
}

.content-radius-top {
    border-radius: 7px 7px 0 0 ;
}

.content-radius-bott {
    border-radius: 0 0 7px 7px;
}
.content-radius {
    border-radius: 7px;
}

.content-body {
    background-color: #F0F4F3;
    box-shadow: 0 0 5px white;
    margin-top:10px;
    width: 100%;
}

#mainBody {
    margin: 0 10%;
}

#posts {

}

.userMiniImg {
    grid-row-start: 1;
    grid-row-end: 3;
}

.post-content {
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    color: #4C4C4C;
}

.comment {
    margin: 10px 15px 10px 15px;
    padding: 6px;
}

.comment-content {
    border-radius: 16px;
    min-height: 60px;
    padding: 10px 10px 10px 0;
    margin: 0 0 10px 0;

    overflow: auto;
    width: 100px;
}

#SubmitComment{
    width: 100%;
}

#container-posts {
    padding: 20px 30px 0 30px;
}

#container-post {
    padding: 20px;
}
#container-post img{
    width: 100%;
}

.container-date {
    opacity: 0.3;
}

.tag {
    background-color: #E1E1E1;
    border-radius: 5px;
    padding: 2px;
    margin: 0 5px 0 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.rating {
    position: relative;
    width: 85px;
    height: 14px;
    margin-top: 0;
    list-style: none;
    background: url(../img/rating-star2.png);
}

#createPost-top {
    padding: 20px;
}

#keywords {
    height: 18vh;
    z-index: inherit;
}

.post-head h3{
    padding-top:6px;
}

.scrollbox {
    overflow: auto;
    background-repeat: no-repeat;
    overflow-x:hidden;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
}

#search {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5px;
}
#search input{
    width: auto;
}
#search div {
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: #FAFAFA;
    border-radius: 2em;
    border: 3px solid transparent;
    padding: 0 10px; 
}
#search div:hover {
    border-color: silver;
}

.create-post-link {
    width:100%;
}
.grid-userMini p {
    margin-left: 6px;
    line-height: 0.7;
}

.logo {
    justify-self: start;
    display: block;
}

.account-nav {
    justify-self: end;
}

.side-bar{

}

.validationerror li{
    color: red;
}

.validationsummary li {
    color: red;
}

.account {
    margin: 80px 25% 40px 25%;
}