@using Microsoft.AspNetCore.Identity
@using Data.Contracts.Models.Entities
@inject SignInManager<ApplicationUserEntity> SignInManager
@inject UserManager<ApplicationUserEntity> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a title="Manage">Hello @UserManager.GetUserName(User)!</a></li>
        <li><a asp-action="Logout" asp-controller="Account" title="Manage">Logout</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="~/Account/Login">Login</a></li>
        <li><a href="~/Account/Register">Register</a></li>
    </ul>
}