@page "/UserPage/{Id:int}"
@layout ContentLayout
@using Domain.Contracts.Models.ViewModels.Post

<div class="grid-posts">
    <ListOfPosts PostType="@(typeof(PostCompactViewModel))" param="@Param" />
</div>

@functions{
    [Parameter] private int Id { get; set; }
    private string Param { get; set; }

    protected override void OnInit()
    {
        Param = $"Fresh:User-{Id}:f:fin";
    }
}